
.container{
    background-image: url(../img/white3.jpg);
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: 100%;
}





h1,h2,h3,h4,h5,h6{
   font-family: 'Rock Salt', cursive;
}

