.container{
    height:100%;
    width:100%;
    background-image: url(../images/naked.jpg);
    background-repeat: no-repeat;

    background-position: center;
    background-size:cover;

}
body,h1,h2,h3,h4,h5,h6{

  font-family: 'Quicksand', sans-serif;

}
.landing{
height:100%;
width:100%;
 background-color: azure;
    opacity: 0.2;
    color:black;

}
.instincts{
    margin-top: 10%;
}

.title{
    padding-top: 15%;
    font-size: 25px;

}

h1{
    font-size: 700%;


